html {
  height: 100%;
  width: 100%;
}
/* * {
  border: 1px solid #444444;
} */
body {
  background-image: url("rockbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 80%;
  height: 140px;
  margin: auto;
  background-color: #aaa
}
header img {
  float: left;
  width: 120px;
  padding-top: 10px;
  padding-left: 10px;
}
header h1 {
    text-align: center;
    padding-top: 10px;
}
header nav {
  text-align: right;
}
header nav ul li {
  display: inline-block;
  background-color: #ccc;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}
a:visited {
  color: rgb(77, 45, 9);
}
a:link {
  color: #641106;
}
main {
  width: 80%;
  margin: auto;
  background-color: #888;
}
figure {
  display: inline-block;
  text-align: center;
  width: 35%;
  margin: auto;
  margin-left: 1%;
}
main figure img{ 
  width: 100%;
  padding-top: 10px;
} 
article {
  display: inline-block;
  text-align: left;
  width: 60%;
  margin-left: 1%;
  vertical-align: top;
}
article h2 {
  text-align: center;
}
p {
  color: #000000;
  width: 90%;
  text-align: left;
}
#throw {
  width: 100%;
  text-align: center;
}
#throwButton {
  padding: 20px;
  margin: 20px;
  background-color: #d60e0e;
}
#resultBlock p {
  text-align: center;
  width: 100%;
}
#resultBlock p img {
  width: 50px;
}
footer {
  background-color: #ccc;
  width: 80%;
  margin: auto;
  border-radius: 30px;
}
footer p {
  text-align: right;
}